body:not(.dark) {
    position: relative;
    background-color: #ffffff;
    overflow-x: hidden;
}

body:not(.dark)::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-image:
        radial-gradient(circle, rgba(0,0,0,0.15) 1.4px, transparent 1.4px);
    background-size: 24px 24px;

    opacity: 0.35;

    animation: dotmove 12s ease-in-out infinite alternate;
}

@keyframes dotmove {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(-12px, -6px); }
    100% { transform: translate(8px, 10px); }
}


body.dark {
    background-color: var(--theme) !important;
    background-image: none !important;
}

body.dark::before {
    content: none !important;
}
