<script>
  (function() {
    const defaultTheme = 'light';
  })();
</script>

<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (site.Params.logo.text | default site.Title) }}
            {{- if site.Title }}
            <a href="{{ "" | absURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if site.Params.logo.icon }}
                {{- $img := resources.Get site.Params.logo.icon }}
                {{- if $img }}
                    <img src="{{ $img.Permalink }}" alt="logo" aria-label="logo"
                        height="{{- site.Params.logo.iconHeight | default "30" -}}" width="{{- site.Params.logo.iconWidth | default "30" -}}">
                {{- else }}
                    <img src="/default-logo.png" alt="logo" aria-label="logo">
                {{- end }}
                {{- else }}
                    <img src="/default-logo.png" alt="logo" aria-label="logo">
                {{- end }}
            </a>
            {{- end }}
            <span class="logo-switches">
                {{- /* <button id="theme-toggle" accesskey="t" title="(Alt + T)"> ... </button> */}}
            </span>
        </div>
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absURL }}
            {{- $page_url:= $currentPage.Permalink }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ $menu_item_url }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- if $is_search -}}data-no-instant{{- end -}}
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}
                {{- if strings.HasPrefix $page_url $menu_item_url }} class="active" {{- end }}
                {{- if .Params.External }} target="_blank" {{- end }}
                >
                    {{- .Pre }}
                    {{- .Name -}}
                    {{ .Post -}}
                    {{- if .Params.External }}<span class="external-link">{{ safeHTML (index $.Site.Data.svg "external-link") }}</span>{{- end }}
                </a>
            </li>
            {{- end }}
        </ul>
        {{ partial "social_icons.html" (dict "icons" site.Params.social "svg" site.Data.svg "Email" site.Params.email ) }}
    </nav>
</header>
