<div class="social-icons">
    {{- range .Site.Params.social }}
    {{- $icon_name := ( trim .name " " | lower )}}

    {{- if (eq .url "email") }}
    <a href="mailto:{{ $.MaskedEmail | default $.Email }}" title="{{ .name | title }}">
        {{ safeHTML (index .Site.Data.svg $icon_name.icon | default "") }}
    </a>
    {{- else }}
    <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
        {{ safeHTML (index .Site.Data.svg $icon_name.icon | default "") }}
    </a>
    {{- end }}

    {{- end }}
</div>
