{{ define "main" }}

<div class="intro">
  {{ .Content }}
</div>

{{/* 获取posts */}}
{{ $posts := where .Site.RegularPages "Type" "posts" }}

<div class="post-list">
  {{ range $posts.ByDate.Reverse }}

    <article class="post-entry">
      {{/* 封面图（PaperMod自带） */}}
      {{ partial "cover.html" (dict "cxt" . "IsHome" true) }}

      <header class="entry-header">
        <h2>{{ .Title }}</h2>
      </header>

      <section class="entry-content">
        <p>{{ .Summary }}</p>
      </section>

      <footer class="entry-footer">
        {{ partial "post_meta.html" . }}
      </footer>

      <a class="entry-link" href="{{ .Permalink }}"></a>
    </article>

  {{ end }}
</div>

{{ end }}
