{{ define "main" }}

<div class="intro">
  {{ .Content }}
</div>

<div class="home-social-icons" style="margin: 2rem 0; text-align: center;">
  {{ partial "social_icons.html" (dict "icons" site.Params.social "svg" site.Data.svg "Email" site.Params.email ) }}
</div>

{{ $posts := where .Site.RegularPages "Type" "posts" }}

{{ $sortedPosts := sort $posts "Weight" }}

<div class="post-list">
  {{ range $sortedPosts }}
    <article class="post-entry">

      {{ partial "cover.html" (dict "cxt" . "IsHome" true) }} 

      <header class="entry-header">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </header>

      <section class="entry-content">
        <p>{{ .Description }}</p> 
      </section>

      <footer class="entry-footer">
        {{ partial "post_meta.html" . }} 
      </footer>

      <a class="entry-link" href="{{ .Permalink }}"></a>
    </article>
  {{ end }}
</div>

{{ end }}
