{{ define "main" }}

<div class="intro">
  {{ .Content }}
</div>

{{ $posts := where .Site.RegularPages "Type" "posts" }}

<div class="post-list">
  {{ range $posts.ByDate.Reverse }} <!-- 按日期倒序渲染文章 -->
    <article class="post-entry">

      <!-- 使用 PaperMod 提供的 cover partial 渲染封面图 -->
      {{ partial "cover.html" (dict "cxt" . "IsHome" true) }} 

      <header class="entry-header">
        <!-- 显示文章标题 -->
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </header>


      <footer class="entry-footer">
        <!-- 使用 PaperMod 提供的 post_meta partial 渲染元数据 -->
        {{ partial "post_meta.html" . }} 
      </footer>

      <!-- 文章链接 -->
      <a class="entry-link" href="{{ .Permalink }}"></a>
    </article>
  {{ end }}
</div>

{{ end }}
